{% extends "layout.html.twig" %}

{% block content %}
    <div class="welcome">
        {% if comments %}
            {% for comment in comments %}
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-right">{{ comment.author }}</h3>
                    </div>
                    <div class="card-block">
                        <blockquote class="card-blockquote">
                            <p class="text-justify">{{ comment.feedback }}</p>
                            <hr>
                            <footer>
                                <i class="fa fa-thumbs-o-up like" aria-hidden="true"></i> {{ comment.likes }}
                                <span class="comment--date">{{ comment.published_at|date("d.m.Y") }}</span>
                            </footer>
                        </blockquote>
                    </div>
                </div>
                <br>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
