@import "../../../node_modules/bootstrap/scss/bootstrap";

@import "variables";

body {
  margin-top: 20px;
}

button {
  cursor: pointer;
}

.like {
  cursor: pointer;
  font-size: 1.5em !important;
}

.comment--date {
  float: right;
  font-size: .8em;
  font-style: oblique;
}

.comment--link {
  float: right;
  cursor: pointer;
}

.fa-thumbs-up {
  color: $like-color !important;
}

.wrapper {
  display: flex;
  justify-content: center;
  height: 80vh;
}

.add--form {
  margin: auto;
  width: 60%;
}

.add--comment {
  margin-bottom: 1em;
}

.sort--by--date {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: auto;
}

.sort--by--date > p {
  margin-top: 1em;
}

.sort--by--date > button {
  margin-left: 1em;
}