@import "../../../node_modules/bootstrap/scss/bootstrap";

@import "variables";

body {
  margin-top: 50px;
}

.like {
  cursor: pointer;
  font-size: 1.5em !important;
}

.comment--date {
  float: right;
  font-size: .8em;
  font-style: oblique;
}

.comment--link {
  float: right;
  cursor: pointer;
}

.fa-thumbs-up {
  color: tomato !important;
}